<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Coupon User Home Page</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"  />
</head>
<style>
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
	       <a class="navbar-brand" href="#" style="color:white"><em><strong>Coupons 4 U</strong></em></a>
	    </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
			<li><a href="/coupons"><strong>Home</strong></a></li>
			<li><a href="#" th:href="@{/about}"><strong>About Us</strong></a></li>
	        <li><a href="/coupons/users/logout"><strong>Log out</strong></a></li>	        
	      </ul>
    	</div>   
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <img src="/images/images.jpg" alt="" height="100%"/>
    </div>
   <!--  <p th:text="'email: ' + ${user.email}"/> -->
    <div class="container">
    <div class="row">
  	<div class="col-xs-6">
  	<h3>Get Coupons By Location</h3><br/><br/> 
      <img src="/images/ByLocation.jpg" class="img-responsive" alt="Coupon By Location" width="45%"/><br/>
      <form action="/ByLocation" method="post">
      <input type="hidden" name="email" id="email" th:value="${user.email}"/>
      <button id="submit" type="submit" class="btn btn-default"><strong>By Location</strong></button>
      </form></div>
      <div class="col-xs-6">
      <h3>Coupons By Shop Name</h3><br/><br/>
      <img src="/images/target_thumb.jpg" alt="target" width="20%" height="20%"/>
      <img src="/images/walmart_thumb.jpg" alt="target" width="15%" height="20%" style="margin-left:2%;"/>
      <img src="/images/kohls_thumb.jpg" alt="target" width="15%" height="20%" style="margin-left:5%;"/><br/>
      <img src="/images/bedbath_thumb.jpg" alt="target" width="30%" height="20%" style="margin-left:3%;"/>
      <img src="/images/macys_thumb.png" alt="target" width="15%" height="20%" style="margin-left:3%;"/>
      </div>
      </div>
    </div><!-- container end -->
<footer class="footer">
      <div class="container">
        <p class="text-muted"><hr/><center>Copy Rights - Team 21 Site,inc 2015</center></p>
      </div>
    </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src ="/js/bootstrap.min.js"></script>
</body>
</html>